<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gul.farmerbroker.goods.mapper.GoodsMapper">
	<select id="findAll" resultType="Goods">
		SELECT id AS id,
		type AS type,
		status AS status,
		unit_type AS unitType,
		price AS price,
		unit_count AS unitCount,
		name AS name,
		area AS area,
		farmer_id AS farmerId,
		farmer_rank AS farmerRank,
		create_time AS createTime,
		available_till AS availableTill,
		description AS description
		FROM goods
	</select>

	<insert id="insert" parameterType="Goods">
		insert into goods (
		type,
		status,
		unit_type,
		price,
		unit_count,
		name,
		area,
		farmer_id,
		farmer_rank,
		create_time,
		available_till,
		description)
		values (
		#type#,
		#status#,
		#unitType#,
		#price#,
		#unitCount#,
		#name#,
		#area#,
		#farmerId#,
		#farmerRank#,
		#createTime#,
		#availableTill#,
		#description#
		)
	</insert>
</mapper>
